*.py[co]

# packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# installer logs
pip-log.txt

# unit test / coverage reports
.coverage
.tox

# translations
*.mo

# mr developer
.mr.developer.cfg

# sphnix
docs/_build

# pydev
.pydevproject
.project

# md preview
.*.md.html
